<html>

<head>
    <title>Graph Reader</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <div class="header">
        <h1>Welcome, <%= user.name %></h1>

    </div>
    <main>
        <div class="infoWindow">
            <div class="personalInfo">
                <h1>Your information</h1>
                <table>
                    <tr>
                        <td class="item">Name</td>
                        <td subject="name"><%= user.name %></td>
                    </tr>
                    <tr>
                        <td class="item">Phone Number</td>
                        <td subject="phone" <% if(editableUser) { %>contenteditable onfocus="getContentInMemory(this)"
                            onfocusout="saveValue(this)" <% } %>><%= user.phone %></td>
                    </tr>
                    <tr>
                        <td class="item">E-Mail Address</td>
                        <td><%= user.email %></td>
                    </tr>
                    <tr>
                        <td class="item">ID</td>
                        <td><%= user.id %></td>
                    </tr>
                </table>
                <% if(!editableUser) { %>
                <button onclick="login('editing')">Enable phone number editing</button>
                <% } %>
            </div>
        </div>
        <div class="kpiwindow">
            <div class="kpis">
                <h1><%= user.name %>s KPIs</h1>
                <% if(userKPIsEnabled) { %>
                <table>
                    <tr>
                        <td class="item">Meetings this Month</td>
                        <td><%= userKPIs.thisMonthMeetings %></td>
                    </tr>
                    <tr>
                        <td class="item">Overall time in meetings last Month</td>
                        <td><%= userKPIs.lastMonthMeetingLength %> Stunden</td>
                    </tr>
                    <tr>
                        <td class="item">Mails sent</td>
                        <td><%= userKPIs.mailsSent %></td>
                    </tr>
                </table>
                <% } else { %>
                <button onclick="login('userKPIs')">Enable additional permissions</button>
                <% } %>

            </div>
            <div class="kpis">
                <h1>Tenant KPIs</h1>
                <% if(tenantEnabled) { %>
                <table>
                    <tr>
                        <td class="item">Users in tenant</td>
                        <td><%= tenant.users %></td>
                    </tr>
                    <tr>
                        <td class="item">Most mail-active user</td>
                        <td><%= tenant.mailLeader %></td>
                    </tr>
                    <tr>
                        <td class="item">Overall Mails sent</td>
                        <td><%= tenant.mailsSent %></td>
                    </tr>
                    <tr>
                        <td class="item">Most recent log-in to system</td>
                        <td><%= tenant.lastLogin %></td>
                    </tr>
                </table>
                <% } else { %>
                <button onclick="logIntoTenant(this)">Enable additional permissions</button>
                <% } %>
            </div>
        </div>
    </main>

    <script>
        let editWord = "";

        function login(to) {
            window.location = window.location + "login?usecase=" + to;
        }
        function logIntoTenant(el) {
            let xhttp = new XMLHttpRequest;
            el.disabled = true;
            el.style.backgroundColor = "gainsboro";
            el.style.color = "black";
            el.innerText = "Logging in...";
            xhttp.onreadystatechange = () => {
                if (xhttp.readyState === 4) {
                    console.log("Got response " + xhttp.response);
                    location.reload();
                }
            }
            xhttp.open("GET", "/api/appToken");
            xhttp.send();
        }

        function getContentInMemory(el) {
            editWord = el.innerText;
        }

        function saveValue(el) {
            if (el.innerText == editWord) return;
            let xhttp = new XMLHttpRequest;
            let query = "";
            if (el.getAttribute("subject") == "name") query = "name=" + el.innerText;
            else if (el.getAttribute("subject") == "phone") query = "phone=" + el.innerText;
            xhttp.open("POST", "/api/user/update?" + query);
            xhttp.send();
        }
    </script>
</body>

</html>